a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: red;
  text-decoration: none;
}
.book{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  width: 10%;
}
.flight{
  margin-bottom: 1%;
}
